*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml

*.map
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
main.js
dumb.js
./server/models/datasources.json
cloudant_credentials.json
vcap-local.example.json